<!DOCTYPE html>
<html xmlns:th="hhtp://www.thymeLeaf.org">
  <head>
	  <link href="/css/bootstrap.min.css" rel="stylesheet">
	  <script src="/js/bootstrap.bundle.min.js"></script>
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body style="background-image: linear-gradient(to right, #ADABAB, #858585, #575252);">
  	<nav class="navbar navbar-dark bg-dark fixed-top">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#Olá Mundo 1!">Olá Mundo 1!</a>
		    <a class="navbar-brand" href="#Olá Mundo 2!">Olá Mundo 2!</a>
		     <a class="navbar-brand" href="#Olá Mundo 3!">Olá Mundo 3!</a>
		     <a class="navbar-brand" href="#Olá Mundo 4!">Olá Mundo 4!</a>
		      <form class="d-flex" role="search">
		        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
		        <button class="btn btn-outline-light" style="background-color:#CCC8C8" type="submit">Pesquise</button>
		      </form>
		   </div>
		   </nav>
		   <br /><br />
		<div class="border shadow m-4 p-4" id="Olá Mundo 1!" style="background-color:#CCC8C8">
			<h1>Olá Mundo 1! <i class="bi bi-emoji-sunglasses" data-bs-toggle="offcanvas" data-bs-target="#offcanvas2"></i> </h1><br />
			<h4>Fate: A Saga Winx</h4>
			<p>A série gira em torno de seis fadas populares que devem aprender a controlar seus poderes mágicos frequentando uma escola em um mundo fantástico. Alfea é uma escola situada no Outromundo que tem por objetivo formar as fadas.</p>
			<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvas2" aria-labelledby="offcanvasScrollingLabel">
  					<div class="offcanvas-header">
   						 <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Fate: A Saga Winx</h5>
    					 <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  			    	</div>
  					<div class="offcanvas-body">
	    				<p> Fate: The Winx Saga é uma série de televisão de drama e fantasia, baseada na série animada da Nickelodeon, Winx Club, criada por Iginio Straffi. É produzida pelo estúdio Rainbow, que é copropriedade de Straffi e da ViacomCBS. Iginio Straffi atua como produtor executivo ao lado de Judy Counihan, Brian Young e Kris Thykier. Abigail Cowen estrela como Bloom. A primeira temporada foi lançada em 22 de janeiro de 2021 na Netflix.</p>
	    				<p> Iginio Straffi planejava adaptar Winx Club à um live-action já em 2011. Antes de iniciar a produção do projeto, Straffi ganhou experiência com séries de televisão em live-action, trabalhando como produtor da série Club 57 da Nickelodeon. As filmagens de Fate finalmente começaram em setembro de 2019 na Irlanda.</p>
	    				<p> Segundo Straffi, a série é destinada a fãs "maiores" do desenho animado. Em uma entrevista em 2019, ele o chamou de "mais ousado e sombrio do que eles podem imaginar". Fate é codirigido por Lisa James Larsson e Hannah Quinn com Brian Young como showrunner.</p>
	    				<p> No início da produção, os membros da equipe americana do desenho animado da Nickelodeon (incluindo a dubladora de Bloom, Molly Quinn) se reuniram com a equipe de produção de Fate e revisaram o roteiro do piloto. Joanne Lee, do Rainbow, também supervisionou a série como produtora executiva. Além deles, a equipe por trás de Fate é inteiramente nova para a franquia Winx, e os escritores foram recrutados em dramas adolescentes como The Vampire Diaries.</p>
	    				<p> A série apresenta um elenco baseado nos personagens da animação, com Abigail Cowen no papel principal de Bloom. A primeira temporada de seis episódios estreou na Netflix em 22 de janeiro de 2021 com críticas mistas. Em fevereiro de 2021, a Netflix renovou a série para segunda temporada.</p>
	  			    </div>
	  			    <div class="offcanvas-header">
	   						 <h5 class="offcanvas-title" id="offcanvasScrollingLabel">1°Temporada</h5>
					</div>
	  				<div class="offcanvas-body">
	    				<p> Pela primeira vez, as seis fadas populares se transformarão em adolescentes reais aprendendo a aprimorar seus poderes enquanto moram juntas em um internato mágico.</p>
	    				<p> Escondida em um mundo místico paralelo, a escola Alfea treinou as fadas nas artes mágicas por milhares de anos, mas nunca teve um aluna especial, como Bloom. Criada no mundo humano comum, ela é teimosa, gentil... e perigosa. Dentro dela existe um poder que pode destruir os dois mundos ou salvá-los. Para controlá-lo, ela tem que controlar as suas emoções. Ela é uma adolescente. Quão difícil isso poderia ser?</p>
	    				<p> A série de 6 episódios segue a jornada de amadurecimento de cinco amigas improváveis ​​que frequentam Alfea, um internato mágico no Otherworld (Outro Mundo), onde elas devem aprender a dominar os seus poderes mágicos enquanto navegam no amor, na rivalidade e nos monstros que as ameaçam.</p>
	  			    </div>
					<div class="offcanvas-header">
	   						 <h5 class="offcanvas-title" id="offcanvasScrollingLabel">2°Temporada</h5>
					</div>
	  				<div class="offcanvas-body">
	    				<p> Alfea está mais uma vez funcionando sob a liderança militar da ex-diretora Rosalind. Com o desaparecimento dos "Queimados ", o "desaparecimento" de Farah Dowling e a prisão de Silva por traição,  a Alfea do ano passado cresceu com nova magia, novos romances e novos rostos. Mas quando as fadas começam a desaparecer à noite, Bloom e seus amigos descobrem uma perigosa ameaça à espreita nas sombras que eles terão que parar antes que cause estragos em todo o Outro Mundo.</p>
	  			    </div>
			  </div>
		</div>
		<div class="border shadow m-4 p-4" id="Olá Mundo 2!" style="background-color:#CCC8C8">
			<h1>Olá Mundo 2! <i class="bi bi-emoji-sunglasses" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> </h1><br />
			<h4>Universo Cinematográfico Marvel</h4>
			<p>O Marvel Cinematic Universe é uma franquia de mídia americana e um universo compartilhado centrado em uma série de filmes de super-heróis, produzida independentemente pela Marvel Studios e baseada em personagens que aparecem nas revistas em quadrinhos americanas publicadas pela Marvel Comics.<br />
			Vingadores ou Os Vingadores são um grupo de super-heróis de história em quadrinhos publicados nos Estados Unidos pela editora Marvel Comics. O grupo também aparece em adaptações da Marvel para cinema, desenho animado e jogos eletrônicos.</p>
		</div>
		<div class="border shadow m-4 p-4" id="Olá Mundo 3!" style="background-color:#CCC8C8">
			<h1>Olá Mundo 3! <i class="bi bi-emoji-sunglasses" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"></i> </h1><br />
			<h4>Valorant: Champions 2022</h4>
			<p>O 2022 Valorant Champions foi um torneio de e-sports para o videogame Valorant. Esta foi a segunda edição do Valorant Champions, o evento de coroação do Valorant Champions Tour para a temporada competitiva do Valorant 2022. O torneio foi realizado de 31 de agosto a 18 de setembro de 2022, em Istambul, Turquia.<br />
			A final entre LOUD e OpTic teve um pico de quase 1.5 milhão de espectadores. O time brasileiro aparece em três das cinco partidas mais assistidas do VALORANT Champions 2022.<br />
			Com o resultado, a LOUD levou para casa mais de R$ 6,8 milhões de premiação. Aspas ficou com o MVP do torneio e, junto aos outros jogadores da LOUD, comemorou a conquista em suas redes sociais.<br />
			A comunidade reagiu de forma eufórica ao título, que rendeu inclusive  memes com o narrador Lothar, que havia colocado a LOUD como “Tier D” em sua lista. Os jogadores da OpTic também parabenizaram os brasileiros pela conquista.</p>
				<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  					<div class="offcanvas-header">
   						 <h5 class="offcanvas-title" id="offcanvasScrollingLabel">A História do Valorant</h5>
    					 <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  			    	</div>
  					<div class="offcanvas-body">
	    				<p> Tudo começa em 2039, em um futuro relativamente próximo, quando ocorre um evento conhecido como Primeira Luz. O fenômeno, que acontece em diversos lugares do mundo, consiste no surgimento de estranhos anéis de luz que trazem um novo elemento para o planeta Terra. A radianita, até então desconhecida, é extremamente poderosa e se torna importantíssima para toda a humanidade.</p>
	    				<p> Após a Primeira Luz, alguns indivíduos expostos à radianita sofrem mutações e ganham poderes, passando a ser conhecidos como radiantes. As habilidades dessas pessoas muitas vezes são simples, mas alguns indivíduos têm poderes incríveis, capazes de torná-los imortais, viajar entre realidades e até mesmo trazer pessoas de volta à vida.</p>
	    				<p> Como nem todos os radiantes acabam do "lado do bem", usando os poderes em prol da humanidade, é criado o Protocolo Valorant. Fundado por um grupo misterioso sob a tutela da corporação Kingdom, o objetivo do projeto é manter os radiantes sob controle, com a missão de proteger o planeta em caso de outros indivíduos com habilidades especiais se tornarem um problema.</p>
	    				<p> Além de pessoas com poderes originados da radianita, o protocolo conta com agentes "comuns", pessoas sem habilidades despertadas na Primeira Luz. Esses agentes são treinados para manipular armas e equipamentos criados e fornecidos pela Kingdom utilizando o novo elemento, sendo então capazes de enfrentar radiantes em pé de igualdade.</p>
	  			    </div>
	  			    <div class="offcanvas-header">
	   						 <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Os dois mundos de Valorant</h5>
					</div>
	  				<div class="offcanvas-body">
	    				<p> O que parece uma missão simples — proteger o mundo de potenciais ameaças radiantes — se torna muito mais complicado quando um novo inimigo surge. Em um universo espelhado, uma versão muito similar da Terra passa pelo mesmo evento da Primeira Luz, gerando pessoas com poderes despertados pela radianita e resultando no surgimento do Protocolo Valorant. Na versão espelhada da Terra, porém, o elemento especial está cada vez mais escasso, ameaçando a sobrevivência dos habitantes.</p>
	    				<p> A revelação da existência da "Terra 2" só acontece 10 anos depois do fenômeno global, quando Phoenix, um agente do Protocolo, encontra Jett instalando um dispositivo chamado Spike nas ruas de Veneza (Itália). Os dois acabam brigando, com a moça levando a melhor e derrotando o rapaz, que ao despertar percebe que o pior aconteceu: o aparelho causou uma onda de destruição que deixou parte do local flutuando no ar.</p>
	    				<p> O desastre cai na conta da Kingdom, já que o público não recebe a mesma informação que Phoenix: aquela não era a Jett que ele conhecia. Na realidade, a Duelista da Coreia do Sul encontrada na Itália era uma versão espelhada da agente Valorant. Além disso, o dispositivo usado por ela sugou a radianita do ambiente e o enviou para outra dimensão.</p>
	  			    </div>
				</div>
		</div>
		<div class="border shadow m-4 p-4" id="Olá Mundo 4!" style="background-color:#CCC8C8">
			<h1>Olá Mundo 4! <i class="bi bi-emoji-sunglasses"></i> </h1><br />
			<h4>Leozin Muzy</h4>
			<p>Leozin Muzy viveu na cidade desde os primeiros anos, vindo de São Carlos, e saiu para cursar a faculdade de medicina da Universidade Federal de São Paulo em 1999. Atua em uma clínica com nome da família e em atendimento hospitalar. Também é professor em curso de medicina, incluindo a Escola Paulista de Ciências Médicas.<br />
			"Os anabolizantes também estimulam a produção de novas fibras musculares, promovendo o ganho de massa muscular e, por isso, costumam ser utilizados por praticantes de atividade física com o objetivo de aumentar a massa muscular ou para fins estéticos." - Leozin Muzy</p>
			<div id="liveAlertPlaceholder"></div>
			<button type="button" class="btn btn-outline-secondary" id="liveAlertBtn">Curiosidade!</button>
		</div>
		<a href="/api/v1/home" class="btn btn-outline-dark">Home</a>
		<a href="/api/v1/index" class="btn btn-outline-dark">Index</a>
	</div><br /><hr /><br />
	<footer>
  		<h4>Autor: Leozin Muzy</h4>
  		<h4>Endereço:Office Time - Av. Marquês de São Vicente, 2219 - Sala 1102 - Jardim das Perdizes, São Paulo - SP, 05036-040</h4>
  		<h4>Telefone:(11) 3895-6333</h4>
  		<p><a href="mailto:edulucas.le43@gmail.com.com">edulucas.le43@gmail.com</a></p>
	</footer>
	<div class="modal" tabindex="-1"id="exampleModal">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			 <div class="modal-header">
       				 <h5 class="modal-title" style="text-decoration:bold;">VEM SER FELIZ</h5>
        			 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      			 </div>
     			 <div class="modal-body">
        			<img src="/images/Os-Vingadores-Originais.PNG" class="img-fluid mx-auto d-block" weight="500px" width="520px" alt="...">
     			 </div>
      			 <div class="modal-footer">
       				 <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        			 <button type="button" class="btn btn-warning">Ai caliquinha</button>
      			 </div>
    	   </div>
       </div>
    </div>
  </body>
</html>	

<script>
	const alertPlaceholder = document.getElementById('liveAlertPlaceholder')

	const alert = (message, type) => {
	const wrapper = document.createElement('div')
	wrapper.innerHTML = [
		`<div class="alert alert-${type} alert-dismissible" role="alert">`,
		`   <div>${message}</div>`,
		'   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
		'</div>'
	].join('')

	alertPlaceholder.append(wrapper)
	}

	const alertTrigger = document.getElementById('liveAlertBtn')
	if (alertTrigger) {
	alertTrigger.addEventListener('click', () => {
		alert('Leozin Muzy é um gostoso!', 'success')
	})
	}
</script>